
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-header overflow-hidden  bg-dark text-white" style="height:50px;">
    <div class="container">

        <div class="row">

            <div class="col-12 text-center">

                <h4 class="fw-bolder display-4">Referanslar</h4>

            </div>
        </div>
    </div>
</section>



<div class="section section-md">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center mb-4 mb-lg-6">
        <h2 class="display-2 fw-bold">Referanslarımız</h2>
        <p class="lead">Tüm referanslarımız ve detaylar</p>
            </div>
        </div>
    <div class="row align-items-center">
        <div class="col-md-6 col-lg-4 text-center">
        <div class="card border-gray-300 mb-4">
            <div class="card-body py-5"><img src="~/Content/azmusebat.png" class="img-fluid" alt=""> 
            <span class="d-block mt-3">
                <span class="fas fa-handshake text-dark"></span> 
           </span>
           
            <a href="#" class="btn btn-primary btn-sm">Detay</a>
                </div>
            </div>
            </div>
        <div class="col-md-6 col-lg-4 text-center">
            <div class="card border-gray-300 mb-4">
                <div class="card-body py-5">
                    <img src="~/Content/Kastamonu.jpg" class="img-fluid " alt="">
                    <span class="d-block mt-3">
                        <span class="fas fa-handshake text-dark"></span>
                    </span>

                    <a href="#" class="btn btn-primary btn-sm">Detay</a>
                </div>
            </div>
            </div>
        <div class="col-md-6 col-lg-4 text-center">
            <div class="card border-gray-300 mb-4">
                <div class="card-body py-5">
                    <img src="~/Content/piworks.jpg" class="img-fluid " alt="">
                    <span class="d-block mt-3">
                        <span class="fas fa-handshake text-dark"></span>
                    </span>

                    <a href="#" class="btn btn-primary btn-sm">Detay</a>
                </div>
            </div>
            </div>
        <div class="col-md-6 col-lg-4 text-center">
            <div class="card border-gray-300 mb-4">
                <div class="card-body py-5">
                    <img src="~/Content/Hayatkimya.png" class="img-fluid " alt="Airbnb logo">
                    <span class="d-block mt-3">
                        <span class="fas fa-handshake text-dark"></span>
                    </span>

                    <a href="#" class="btn btn-primary btn-sm">Detay</a>
                </div>
            </div>
            </div>
        <div class="col-md-6 col-lg-4 text-center">
            <div class="card border-gray-300 mb-4">
                <div class="card-body py-5">
                    <img src="~/Content/dydo.svg.png" class="img-fluid " alt="Airbnb logo">
                    <span class="d-block mt-3">
                        <span class="fas fa-handshake text-dark"></span>
                    </span>

                    <a href="#" class="btn btn-primary btn-sm">Detay</a>
                </div>
            </div></div>
      
    
</div>



</div>
</div>
