
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




     

<section class="section-header overflow-hidden  bg-dark text-white" style="height:50px;">
    <div class="container">

        <div class="row">

            <div class="col-12 text-center">

                <h4 class="fw-bolder display-4">Hakkımızda</h4>

            </div>
        </div>
    </div>
</section>


<section class="section section-lg ">
    <div class="container">
        <div class="col-12 text-center">


            <img src="~/gray-logo.png" width="150" />

            <h1 class="fw-bolder display-2 text-dark ">     Feysoft Yazılım </h1>

        </div>




        <div class="row">
            <div class="col-md-12">
                <div class="nav-wrapper position-relative mb-2">
                    <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-bs-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><span class="fas fa-globe"></span> Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-bs-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><span class="fas fa-pen-nib"></span> Misyonumuz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-bs-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><span class="fas fa-pen-nib"></span> Vizyonumuz</a>
                        </li>
                    </ul>
                </div>
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="tab-content" id="tabcontent2">
                            <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                <p>
                                    Feysoft Yazılım olarak 2018 yılında kurulmuş bir firmayız. Faaliyet alanımız, kurumların kendi içlerinde kullandığı eBA iş süreçlerinin analiz, tasarım, geliştirme, destek ve tüm sistemler ile entegrasyon ihtiyaçlarını karşılamak. Süreçlerin en etkin şekilde kullanılmasını ve kullanıcı dostu projeler geliştirmeyi amaçlıyoruz.

                                </p>

                            </div>
                            <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                <p>
                                    Müşteri memnuniyeti temel ilkemiz. Bu doğrultuda müşteri lokasyonlarını kendi ofisimiz olarak kabul edip yerinde destek ve danışmanlık vermekten mutluluk duyuyoruz. Sizlerle çalışmak kadar, bizimle de çalışmanın bir ayrıcalık olduğunu sizlere göstermek istiyoruz.
                                </p>

                            </div>
                            <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                                <p>
                                    Müşteri memnuniyeti temel ilkemiz. Bu doğrultuda müşteri lokasyonlarını kendi ofisimiz olarak kabul edip yerinde destek ve danışmanlık vermekten mutluluk duyuyoruz. Sizlerle çalışmak kadar, bizimle de çalışmanın bir ayrıcalık olduğunu sizlere göstermek istiyoruz.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-center mb-5 mb-lg-6">
        <div class="col-6 col-md-3 text-center mb-4">
            <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                <span class="fas fa-check-double text-tertiary"></span>
        
            </div>
            <h3 class="fw-bolder">Sorunsuz</h3>
            <p class="text-gray">Entegrasyonlar</p>
        </div>
        <div class="col-6 col-md-3 text-center mb-4">
            <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                <span class="fas fa-handshake text-tertiary"></span>
              
            </div>
            <h3 class="fw-bolder">Kullanıcı Dostu</h3>
            <p class="text-gray">İş Süreçleri</p>
        </div>
        <div class="col-6 col-md-3 text-center">
            <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                <span class="fas fa-clipboard text-tertiary"></span>
               
            </div>
            <h3 class="fw-bolder">Güvenilir</h3>
            <p class="text-gray">Rapolama</p>
        </div>
        <div class="col-6 col-md-3 text-center">
            <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                <span class="fas fa-globe-europe text-tertiary"></span>
            </div>
           
            <h3 class="fw-bolder">Teknolojik</h3>
            <p class="text-gray">Web Uygulamaları & Çözümleri</p>
        </div>
    </div>



</section>

