
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="section-header overflow-hidden  bg-dark text-white">
    <div class="container">


        <div class="row">

            <div class="col-12 text-center">
                <img src="~/Content/Feysoft-Logo.png" width="150" />
                <h1 class="fw-bolder display-2 " style="font-style:italic;">Feysoft Yazılım</h1>
                <div class="card-body pt-1 px-0 px-lg-6">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="email" class="form-control  rounded-start" placeholder="Bir hizmet ara..." required="">
                                    <button class="btn btn-tertiary" type="button"><span class="icon icon-xs me-1"><span class="fas fa-search"></span></span>Hemen Ara</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<section class="section section-md bg-soft">
    @*  Hizmetler    *@
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-1 col-lg-6">
                <div class="row justify-content-center mb-4 mb-lg-6">
                    <a href="/Hizmetler/eBa" class="btn btn-tertiary mb-3 mt-2 me-2 me-md-3 animate-up-2">
                        <span class="fas fa-business-time me-2"></span> <span class="d-none d-md-inline">
                            EBA İş Süreçleri
                        </span>
                    </a>

                    <a href="/Hizmetler/eBa" class="btn btn-tertiary mb-3 mt-2 me-2 me-md-3 animate-up-2">
                        <span class="fas fa-cogs me-2"></span> <span class="d-none d-md-inline">
                            Entegrasyonlar
                        </span>
                    </a>
                    <a href="/Hizmetler/eBa" class="btn btn-tertiary mb-3 mt-2 me-2 me-md-3 animate-up-2">
                        <span class="fas fa-globe me-2"></span> <span class="d-none d-md-inline">
                            Web Uygulamaları
                        </span>
                    </a>
                    <a href="/Hizmetler/eBa" class="btn btn-tertiary mb-3 mt-2 me-2 me-md-3 animate-up-2">
                        <span class="fas fa-bookmark me-2"></span> <span class="d-none d-md-inline">
                            Raporlama
                        </span>
                    </a>
                    <a href="/Hizmetler/eBa" class="btn btn-tertiary mb-3 mt-2 me-2 me-md-3 animate-up-2">
                        <span class="fas fa-store me-2"></span> <span class="d-none d-md-inline">
                            E-Ticaret
                        </span>
                    </a>



                </div>
            </div>
            <div class="col-lg-6">
                <div class="row justify-content-center mb-8 mb-lg-6">
                    <h1 class="display-3 fw-bold lh-1 mb-3">Tüm Hizmetlerimiz <i class="far fa-hand-point-right"></i></h1>

                    <h1 class="display-5 fw-bold lh-1 mb-3">Hizmetlerimiz ile ilgili detaylara göz atabilirsiniz.</h1>
                    <p class="lead">
                        Hizmetlerimiz ile ilgili detaylara göz atabilir , sorularınız ve hizmetlerle ilgili destek
                        talepleri oluşturabilirsiniz.Demo talebi oluşturabilir ve hizmetlere kolayca ulaşabilirsiniz.
                        Müşterilerimiz ve kullanıcılarımız için 7/24 destek vermekteyiz.
                    </p>
                    <div class="d-flex align-items-center">
                        <a href="#download" target="_blank" class="btn btn-facebook" data-bs-toggle="modal" data-bs-target="#modal-default"><i class="fas fa-paper-plane"></i> Demo Talebi</a>



                    </div>
                </div>
            </div>
        </div>
    </div>

    @*  İş Süreçleri   *@

    <div class="container">
        <div class="col-12 text-center">
            <h2 class="h1 px-lg-5">Tüm iş süreçlerini elektronik ortamda yöneten kurumlarda;</h2>
            <p class="lead">
                İş süreçleri maksimum etkinlikte çalışır.

                İş süreçleri yönetilebilirdir.

                Verimlilik en üst düzeydedir.

                Kağıt kullanımı yok denecek kadar azdır.
            </p>
        </div>
        <div class="row">
            <div class="col-6 col-lg-3 mb-5">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 bg-tertiary text-white text-shadow-1">
                        <i class="fas fa-cogs" style="font-size:64px;"></i>
                        <br />
                        <h5>
                            Hızlı Otomasyon
                        </h5>
                    </div>
                </div>


            </div>

            <div class="col-6 col-lg-3 mb-5">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <i class="fas fa-comments" style="font-size:64px;"></i>
                        <br />
                        <h5>
                            Takip Edilebilirlik
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-5">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <i class="fas fa-cloud-upload-alt" style="font-size:64px;"></i>
                        <br />
                        <h5>
                            Bulut Yeteneği
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-5">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <i class="fab fa-safari" style="font-size:64px;"></i>
                        <br />
                        <h5>
                            Standartlık
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-5">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <i class="fas fa-users-cog" style="font-size:64px;"></i>
                        <br />
                        <h5>
                            Entegrasyon
                        </h5>
                    </div>
                </div>
            </div>


        </div>
    </div>


</section>

   







