
@{
    ViewData["Title"] = "eBA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-header overflow-hidden  bg-dark text-white" style="height:50px;">
    <div class="container">

        <div class="row">

            <div class="col-12 text-center">

                <h4 class="fw-bolder display-4">Hizmetler</h4>

            </div>
        </div>
    </div>
</section>

<section class="section section-lg ">
    <div class="container">
        <div class="row justify-content-between align-items-center mb-5 mb-lg-7">
            <div class="col-lg-5 mb-5 mb-lg-0">

                <h2 class="h1 d-flex align-items-center">
                    eBA İş Süreçleri

                    <span class="badge-md ms-3 mb-0 fs-6 badge rounded-pill text-white bg-tertiary">Feysoft</span>
                </h2>
                <p class="mb-4 lead fw-bold">eBA İş Süreç Yönetimi</p>
                <p class="mb-4">
                    Minimum kod kullanımı ile kullanıcı dostu iş süreçleri kullanıyoruz.Web servislerine
                    bağlanarak süreçleri ve tüm verileri takip etmenizi kolaylaştıracak çözümler sağlıyoruz.
                    Test süreçleri yapıp hata payını minimuma düşürüyoruz.
                </p>


            </div>

            <div class="col-lg-6">
                <img src="/Content/eba.jpg" width="500" alt="">
            </div>
            <p class="mb-4 lead fw-bold">eBA Nedir ?</p>
            <p class="mb-4">

                Minimum kod kullanımı ile kullanıcı dostu iş süreçleri kullanıyoruz.Web servislerine
                bağlanarak süreçleri ve tüm verileri takip etmenizi kolaylaştıracak çözümler sağlıyoruz.
                Test süreçleri yapıp hata payını minimuma düşürüyoruz.
                <hr />

                <img src="~/eba-infographic-1030x454.png" />
            </p>
           
        </div>
        
    </div>
</section>

