
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Feysoft | Yazılım & Danışmanlık</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="eBA,Yazılım,eBA Workflow,eBA İş Akışı">

    <link type="text/css" href="~/Content/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link type="text/css" href="~/Content//css/pixel.css" rel="stylesheet">
</head>
<body>
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-dark navbar-theme-dark">
            <div class="container position-relative">
                <a class="navbar-brand me-lg-5" href="/Anasayfa">
                    <img src="~/Content/Feysoft-Logo.png"/>
                </a>
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="./index.html">
                                    <img src="~/Content/assets/img/brand/dark.svg" alt="Feysoft">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item ">
                            <a href="/Anasayfa" class="nav-link">
                                Ana Sayfa

                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="/Hakkimizda" class="nav-link">
                                Hakkımızda

                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="/Hizmetler" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="hizmetler" aria-expanded="false">
                                Hizmetler
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="hizmetler">
                                <div class="col-auto px-0">
                                    <div class="list-group list-group-flush">
                                        <a href="/Hizmetler/eBA" target="_parent" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            <span class="icon icon-sm"><span class="fas fa-cog"></span></span>
                                            <div class="ms-4">

                                                <span class="d-block font-small fw-bold mb-0">eBA İş Süreçleri<span class="badge badge-sm badge-secondary ms-2">v3.1</span></span>
                                                <span class="small">eBA İş Akışı Yönetimi</span>
                                            </div>
                                        </a>


                                    </div>
                                    <div class="col-auto px-0">
                                        <div class="list-group list-group-flush">
                                            <a href="/Hizmetler" target="_parent" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <span class="icon icon-sm"><span class="fas fa-file-alt"></span></span>
                                                <div class="ms-4">

                                                    <span class="d-block font-small fw-bold mb-0">Döküman yönetimi<span class="badge badge-sm badge-secondary ms-2">v3.1</span></span>
                                                    <span class="small">Döküman yönetimi</span>
                                                </div>
                                            </a>


                                        </div>
                                    </div>
                                    <div class="col-auto px-0">
                                        <div class="list-group list-group-flush">
                                            <a href="/Hizmetler" target="_parent" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <span class="icon icon-sm"><span class="fas fa-globe"></span></span>
                                                <div class="ms-4">

                                                    <span class="d-block font-small fw-bold mb-0">Web Hizmetleri<span class="badge badge-sm badge-secondary ms-2">v3.1</span></span>
                                                    <span class="small">Tüm web hizmetleri</span>
                                                </div>
                                            </a>


                                        </div>
                                    </div>
                                    <div class="col-auto px-0">
                                        <div class="list-group list-group-flush">
                                            <a href="/Hizmetler" target="_parent" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <span class="icon icon-sm"><span class="fas fa-cogs"></span></span>
                                                <div class="ms-4">

                                                    <span class="d-block font-small fw-bold mb-0">Entegrasyonlar<span class="badge badge-sm badge-secondary ms-2">v3.1</span></span>
                                                    <span class="small">Dinamik Entegrasyonlar</span>
                                                </div>
                                            </a>


                                        </div>
                                    </div>
                                    <div class="col-auto px-0">
                                        <div class="list-group list-group-flush">
                                            <a href="/Hizmetler" target="_parent" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <span class="icon icon-sm"><span class="fas fa-shopping-basket"></span></span>
                                                <div class="ms-4">

                                                    <span class="d-block font-small fw-bold mb-0">E-Ticaret<span class="badge badge-sm badge-secondary ms-2">v3.1</span></span>
                                                    <span class="small">E-Ticaret Uygulamaları</span>
                                                </div>
                                            </a>


                                        </div>
                                    </div>
                                </div>
                                </div>
                        </li>
                        <li class="nav-item ">
                            <a href="/Referanslar" class="nav-link">
                                Referanslar

                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/Iletisim" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="supportDropdown" aria-expanded="false">
                                İletişim
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="supportDropdown">
                                <div class="col-auto px-0">
                                    <div class="list-group list-group-flush">
                                        <a href="/Iletisim" target="_parent" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            <span class="icon icon-sm"><span class="fas fa-envelope"></span></span>
                                            <div class="ms-4">
                                                <span class="d-block font-small fw-bold mb-0">Bize Ulaşın<span class="badge badge-sm badge-secondary ms-2">v3.1</span></span>
                                                <span class="small">İletişim Formu</span>
                                            </div>
                                        </a>
                                        
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <a href="/Iletisim" target="_blank" class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3" data-bs-toggle="modal" data-bs-target="#modal-email"><span class="fas fa-envelope"></span> Email Gönder</a>



                    <a href="#download" target="_blank" class="btn btn-tertiary" data-bs-toggle="modal" data-bs-target="#modal-default"><i class="fas fa-paper-plane"></i> Demo Talebi</a>
                    <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

            </div>
        </nav>
    </header>
    <main>

        @RenderBody()
    </main>
    <div class="modal fade" id="modal-email" tabindex="-1" aria-labelledby="modal-default" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered text-dark" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="h6 modal-title">Bize Ulaşın !</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="mb-3">
                            <label for="email">Ad Soyad</label>
                            <input type="text" class="form-control" name="NameSurname">

                        </div>
                        <div class="mb-3">
                            <label for="email">E-posta Adresi</label>
                            <input type="email" class="form-control" name="EmailAdd">
                        </div>
                        <div class="mb-3">
                            <label for="email">Konu</label>
                            <input type="text" class="form-control" name="Subject">
                        </div>
                        <div class="mb-3">
                            <label for="textarea">Mesaj</label>
                            <textarea class="form-control" placeholder="Mesajınızı giriniz ..." rows="4" name="Message"></textarea>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Haber bültenini takip et</label>
                        </div>
                       
                     

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" >Gönder</button>
                    <button type="button" class="btn btn-link ms-auto" data-bs-dismiss="modal">İptal</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default" tabindex="-1" aria-labelledby="modal-default" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered text-dark" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="h6 modal-title">Demo Talebi Oluştur</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="mb-3">
                            <label for="email">Ad Soyad</label>
                            <input type="text" class="form-control" name="NameSurname">

                        </div>
                        <div class="mb-3">
                            <label for="email">E-posta Adresi</label>
                            <input type="email" class="form-control" name="EmailAdd">
                        </div>
                        <div class="mb-3">
                            <label for="email">Firma Adı</label>
                            <input type="text" class="form-control" name="Subject">
                        </div>
                        <div class="mb-3">
                          
                            <label for="email">Hizmet Kategorisi</label>
                            <select class="form-control">
                                <option class="dropdown-item">Seçiniz</option>
                                <option class="dropdown-item">Deneme</option>
                                <option class="dropdown-item">Deneme</option>
                            </select>

                        </div>
                        <div class="mb-3">
                            <label for="textarea">Mesaj</label>
                            <textarea class="form-control" placeholder="Mesajınızı giriniz ..." rows="4" name="Message"></textarea>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault"data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="Haber bültenini takip ederek yeni haberleri ve fırsatları kaçırma!" >Haber bültenini takip et</label>
                        </div>



                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Talebi Gönder</button>
                    <button type="button" class="btn btn-link ms-auto" data-bs-dismiss="modal">İptal</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer pt-6 pb-5 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    <p>
                        <a class="navbar-brand me-lg-5" href="/Anasayfa">
                            <img src="~/Content/Feysoft-Logo.png" />

                        </a>
                    </p>
                   
                
             
                    <p class="h6">
                    Feysoft Yazılım olarak 2018 yılında kurulmuş bir firmayız. Bir çok alanda hizmet vermekteyiz. 
                    </p>
                    <p>
                        <span class="fas fa-map-marker-alt">
                        </span>
                        19 Mayıs Mah. Halaskargazi Cad.
                        Çiftkurt Apt. No:226 D:24 Şişli/İstanbul
                        <hr />

                        <span class="fas fa-phone-alt">
                        </span>
                        +90 545 251 50 61
                        <hr />

                        <span class="fas fa-envelope-open-text">
                        </span>
                        <a href="mailto:fatih@feysoft.com.tr">fatih@feysoft.com.tr</a>


                        <hr />


                    </p>
                    <ul class="social-buttons mb-5 mb-lg-0">
                        <li>
                            <a href="#" aria-label="twitter social link"
                               class="icon-white me-2">
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon-white me-2"
                               aria-label="facebook social link">
                                <span class="fab fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="github social link" class="icon-white me-2">
                                <span class="fab fa-instagram"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon-white" aria-label="dribbble social link">
                                <span class="fab fa-linkedin"></span>
                            </a>
                        </li>
                      

                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-5 mb-lg-0">
                    <span class="h5">Sayfalar</span>
                    <ul class="footer-links mt-2">
                        <li>
                            <a target="_parent" href="/Anasayfa">- Ana Sayfa</a>
                        </li>
                        <li>
                            <a target="_parent" href="/Hakkimizda">- Hakkımızda</a>
                        </li>
                        <li>
                            <a target="_parent" href="/Hizmetler">- Hizmetler</a>
                        </li>
                        <li>
                            <a target="_parent" href="/Referanslar">- Referanslar</a>
                        </li>
                        <li>
                            <a target="_parent" href="/Iletisim">- İletişim</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-5 mb-lg-0">
                    <span class="h5">Hizmetler</span>
                    <ul class="footer-links mt-2">
                        <li>
                            <a href="/Hizmetler/eBA">- eBA İş Süreçleri</a>
                            <a href="#">- Entegrasyonlar</a>
                            <a href="#">- Web Uygulamaları</a>
                            <a href="#">- Raporlama</a>
                            <a href="#">- E-Ticaret</a>
                        </li>


                    </ul>
                </div>
                <div class="col-12 col-md-4 mb-5 mb-lg-0">
                    <span class="h5">Haber Bülteni</span>
                    <p class="text-muted font-small mt-2">
                        Haber bültenine abone olarak tüm haberleri ve gelişmelerden ilk
                        sen haberdar ol !
                    </p>
                    <form action="#">
                        <div class="form-row mb-2">
                            <div class="col-12">
                                <label class="h6 fw-normal text-muted d-none" for="exampleInputEmail3">Email address</label>
                                <input type="email" class="form-control mb-2" placeholder="E-posta Adresiniz" name="email"
                                       aria-label="Subscribe form" id="exampleInputEmail3" required>
                            </div>
                            <div class="col-12 d-grid">
                                <button type="submit" class="btn btn-tertiary" data-loading-text="Sending">
                                    <span>Abone Ol</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <p class="text-muted font-small m-0">
                        Bilgilerini hiçbir şekilde paylaşmıyoruz.
                        <a class="text-white"
                           href="/Gizlilikpolitikasi">Gizlilik Politikası</a>
                    </p>
                </div>
            </div>
            <hr class="bg-secondary my-3 my-lg-5">
            <div class="row">
                <div class="col mb-md-0">

                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="fw-normal font-small mb-0">
                            Copyright © Feysoft  -
                            <span class="current-year"></span> Tüm hakları saklıdır .
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core -->
    <script src="~/Content/vendor/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/headroom.js/dist/headroom.min.js"></script>
    <!-- Vendor JS -->
    <script src="~/Content/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="~/Content/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="~/Content/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="~/Content/vendor/vivus/dist/vivus.min.js"></script>
    <script src="~/Content/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Pixel JS -->
    <script src="~/Content/assets/js/pixel.js"></script>
</body>
</html>

